.header {
  margin-top: 60px;
}
.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Dancing Script", cursive;
  color: #685669;
  top: 20%;
  font-size: 100px;
}
.headerImage {
  width: 100%;
  height: 450%;
  object-fit: cover;
}
.home {
  display: flex;
}
